.swipeButtons {
    position: fixed;
    bottom: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.swipeButtons .MuiIconButton-root {
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}
.swipeButtons__replay {
    /* padding: 3vw !important; */
    color: #f5b748;
}
.swipeButtons__close {
    color: #ec5e6f;
}
.swipeButtons__star {
    color: #62b4f9;
}
.swipeButtons__favorite {
    color: #76e2b3;
}
.swipeButtons__flashOn {
    color: #915dd1;
}